<!------------------ ADMIN ------------------------>
<div *ngIf="isAdmin">
  <div>
    <h4>ARTWORKS </h4>
    <img class="icon-button right" src="./../../assets/icons/add-create-new.svg" *ngIf="!display"
      (click)="displayForm('create', 0)" />
    <img class="icon-button right" src="./../../assets/icons/close-delete-minus.svg" *ngIf="display"
      (click)="displayForm('create', 0)" />
  </div>
  <div *ngIf="display">
    {{ isEdit? 'Edit': 'Create '}} Book

    <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)" enctype="multipart/form-data">

      <div class="form-group" *ngIf="!isEdit">
        <label for="file">Artwork Thumbnail:</label>
        <label for="thumbnail" class="file-upload">
          <img alt="edit" class="icon-button table" src="./../../assets/icons/backup-cloud-server.svg"/> 
          {{ filename_thumbnail }}
         </label>
        <input formControlName="thumbnail" id="thumbnail" name="thumbnail" type="file" class="form-control" (change)="onFileThumbChange($event)">
      </div> 

      <div class="form-group" *ngIf="!isEdit" style="margin-top:10px">
        <label for="file">Artwork Image:</label>
        <label for="image" class="file-upload">
          <img alt="edit" class="icon-button table" src="./../../assets/icons/backup-cloud-server.svg"/> 
          {{ filename }}
         </label>
        <input formControlName="image" id="image" name="image" type="file" class="form-control" (change)="onFileChange($event)">
      </div> 

      <div class="form-group" *ngIf="isEdit">
        <label for="image_thumb">Artwork Thumbnail:</label>
        <img src="./../../assets/img/{{image_thumbnail}}" width="200px" name="image_thumb" *ngIf="image_thumbnail != null">
      </div> 

      <div>
        <label>
          Client:
          <mat-form-field>
            <input type="text" placeholder="Enter client's name" [formControl]="client" matInput [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let option of filteredOptions | async" [value]="option.name"
                (onSelectionChange)="onClientChange(option)">
                {{option.name}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </label>
      </div>

      <div>
        <label>
          Title:
          <input formControlName="title" placeholder="Artwork title" type="text">
        </label>
      </div>

      <div>
        <label>
          Description:
          <textarea formControlName="description" placeholder="Artwork description" rows="3"> </textarea>
        </label>
      </div>

      <div>
        <label>
          Tools:
          <input formControlName="tools" placeholder="Artwork tools" type="text">
        </label>
      </div>

      <div>
        <label>
          Category:
          <mat-form-field appearance="fill">
            <select matNativeControl required #mySelect [formControl]="category"
              (change)="onCategoryChange(mySelect.value)">
              <option value="children">Children</option>
              <option value="cartoon">Cartoon</option>
              <option value="realistic">Realistic/Semi-Realistic</option>
              <option value="vectorial">Vectorial</option>
              <option value="general">General</option>
            </select>
          </mat-form-field>
        </label>
      </div>

      <div>
        <label>
          Link:
          <input formControlName="link" placeholder="Artwork Link" type="text">
        </label>
      </div>

      <div>
        <label>
          Total Paid:
          <input formControlName="totalPaid" placeholder="Artwork Price" type="text">
        </label>
      </div>

      <div>
        <label>
          Display:
          <input formControlName="display" type="checkbox">
        </label>
      </div>

      <button type="submit">Save</button> &nbsp;
      <button type="reset" *ngIf="!isEdit">Clear</button>
      <button type="button" *ngIf="isEdit" (click)="display = false">Cancel</button>
    </form>
  </div>
  <div>
    <mat-form-field class="search">
      <input matInput type="text" (keyup)="doFilter($event)"
        placeholder="Type the artwork title, description, category or tools to search">
    </mat-form-field>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" [ngClass]="'grid'" matSort>

      <ng-container matColumnDef="thumbnail">
        <th mat-header-cell *matHeaderCellDef> Thumbnail </th>
        <td mat-cell *matCellDef="let element" (click)="displayForm('edit',element.id)"> <img
            src="./../../assets/img/{{element.thumbnail}}" width="30px"
            *ngIf="element.thumbnail !== null"></td>
      </ng-container>

      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Title </th>
        <td mat-cell *matCellDef="let element" (click)="displayForm('edit',element.id)"> {{element.title}} </td>
      </ng-container>

      <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Category </th>
        <td mat-cell *matCellDef="let element" (click)="displayForm('edit',element.id)"> {{element.category}} </td>
      </ng-container>

      <ng-container matColumnDef="tools">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Tools </th>
        <td mat-cell *matCellDef="let element" (click)="displayForm('edit',element.id)"> {{element.tools}} </td>
      </ng-container>

      <ng-container matColumnDef="createdDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Created Date </th>
        <td mat-cell *matCellDef="let element" (click)="displayForm('edit',element.id)"> {{ element.createdDate | date}} </td>
      </ng-container>

      <ng-container matColumnDef="display">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Display </th>
        <td mat-cell *matCellDef="let element" (click)="displayForm('edit',element.id)"> {{ element.display ? 'visible' : 'hidden'}} </td>
      </ng-container>

      <ng-container matColumnDef="totalPaid">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Paid </th>
        <td mat-cell *matCellDef="let element" (click)="displayForm('edit',element.id)"> {{ element.totalPaid  | currency : 'CAD'}} </td>
      </ng-container>

      <ng-container matColumnDef="link">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Link </th>
        <td mat-cell *matCellDef="let element"> 
          <img alt="edit" class="icon-button table" src="./../../assets/icons/network-publish-send.svg"  (click) ="goToUrl(element.link)" 
           *ngIf="element.link != null" style="cursor: pointer"/>
        </td>
      </ng-container>

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let element">
          <img alt="edit" class="icon-button table" src="./../../assets/icons/draw-edit-new.svg"
            (click)="displayForm('edit',element.id)" /> &nbsp;
          <img alt="delete" class="icon-button table" src="./../../assets/icons/cancel-close-delete.svg"
            (click)="delete(element.id)" />
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of artworks">
    </mat-paginator>

  </div>
</div>

<!------------------ ARTWORKS ------------------------>
<div *ngIf="!isAdmin && !isDetail">
  <main id="main">
    <section class="section site-portfolio">
      <div class="container">
        <div class="row mt-4 align-items-center" id="menu-top">

          <div class="col-md-12 col-lg-12 text-start text-lg-end" data-aos="fade-up" data-aos-delay="100">
            <div id="filters" class="filters">
              <a href="#" (click)="filterByStyle('')" [ngClass]="{'active-category': selectedCategory == ''}">All Styles</a>
              <a href="#" (click)="filterByStyle('children')"  [ngClass]="{'active-category': selectedCategory == 'children'}">Children's Illustration</a>
              <a href="#" (click)="filterByStyle('cartoon')"  [ngClass]="{'active-category': selectedCategory == 'cartoon'}">Cartoon Art</a>
              <a href="#" (click)="filterByStyle('realistic')"  [ngClass]="{'active-category': selectedCategory == 'realistic'}">Realism/Semi-Realism</a>
              <a href="#" (click)="filterByStyle('vector')"  [ngClass]="{'active-category': selectedCategory == 'vector'}">Vector Art</a>
              <a href="#" (click)="filterByStyle('general')"  [ngClass]="{'active-category': selectedCategory == 'general'}">General</a>
            </div>
          </div>
        </div>

        <div id="portfolio-grid" class="row no-gutter" data-aos="fade-up" data-aos-delay="200">
         
          <div class="item {{artwork.category}} col-sm-6 col-md-4 col-lg-2 mb-4" *ngFor="let artwork of artworkList | artworkFilter:selectedCategory; let i = index">
            <a href="#" class="item-wrap fancybox" (click)="$event.preventDefault();artworkDetails(artwork)">
              <div class="work-info">
                <h3>{{artwork.title}}</h3>
                <span>{{artwork.description}}</span>
              </div>
              <img class="img-fluid" src="assets/img/{{artwork.thumbnail}}">
            </a>
          </div>
        </div>
      </div>
    </section>
  </main>
</div>
<!------------------ DETAILS ------------------------>
<div *ngIf="!isAdmin && isDetail">
    <div class="row align-items-center">
      <div class="col-md-6" data-aos="fade-up">
          <a href="#" (click)="isDetail=false"> &#8617; BACK </a>
      </div>
    </div>

 <section class="section1">
  <div class="container">
    <div class="row mb-4 align-items-center">
      <div class="col-md-6" data-aos="fade-up">
        <h2 id="title2">{{selectedArtwork.title}}</h2>
      </div>
    </div>
  </div>

  <div class="site-section pb-0">
    <div class="container">
      <div class="row align-items-stretch">
        <div class="col-md-8" data-aos="fade-up">
          <img id="img" alt="{{selectedArtwork.title}}" class="img-fluid" src="./../../assets/img/{{selectedArtwork.image}}">
        </div>
        <div class="col-md-3 ml-auto" data-aos="fade-up" data-aos-delay="100">
          <div class="sticky-content">
            <h4 class="h4 mb-3">Description</h4>
            <p class="mb-4"><span class="text-muted" id="subtype">{{selectedArtwork.description}}</span></p>

            <h4 class="h4 mb-3">Resources Used</h4>
             {{selectedArtwork.tools}}
          </div>
        </div>
      </div>
    </div>

</div>