<div *ngIf="isAdmin">
   ARTWORKS PAGE IN ADMIN
  response: {{ artworksList | json }}

</div>

<div *ngIf="!isAdmin">

  <main id="main">
    <section class="section site-portfolio">
      <div class="container">
        <div class="row mt-4 align-items-center">

          <div class="col-md-12 col-lg-12 text-start text-lg-end" data-aos="fade-up" data-aos-delay="100">
            <div id="filters" class="filters">
              <a href="#" data-filter="*" class="active">All Styles</a>
              <a href="#" data-filter=".realism">Realism/Semi-Realism</a>
              <a href="#" data-filter=".cartoon">Cartoon Art</a>
              <a href="#" data-filter=".children">Children's Illustration</a>
              <a href="#" data-filter=".vector">Vector Art</a>
            </div>
          </div>
        </div>
        
        <div id="portfolio-grid" class="row no-gutter" data-aos="fade-up" data-aos-delay="200">
         
          <div class="item children col-sm-6 col-md-4 col-lg-2 mb-4">
            <a href="art.html?type=digital&art=turtle" class="item-wrap fancybox">
              <div class="work-info">
                <h3>Little Turtle</h3>
                <span>Children's  Illustration</span>
              </div>
              <img class="img-fluid" src="assets/img/d-turtle-small.jpg">
            </a>
          </div>
          
        </div>
      </div>
    </section>
  </main>


</div>