<div>

  <div>
    <h4>CLIENTS </h4>
    <img class="icon-button right" src="./../../assets/icons/add-create-new.svg"  *ngIf="!display" (click)="displayForm('create', 0)"/>
    <img class="icon-button right" src="./../../assets/icons/close-delete-minus.svg"  *ngIf="display"(click)="displayForm('create', 0)"/>
  </div>

<div *ngIf="display">
{{ isEdit? 'Edit': 'Create '}} Client

<form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">
  <div>
    <label>
      Name:
      <input formControlName="name" placeholder="Your name" type="text">
    </label>
  </div>
  <div>
    <label>
      Email:
      <input formControlName="email" placeholder="Your email" type="text">
    </label>
  </div>
  <div>
    <label>
      Active:
      <input formControlName="active" type="checkbox">
    </label>
  </div>
  <button type="submit">Save</button> &nbsp;
  <button type="reset" *ngIf="!isEdit">Clear</button>
</form>

</div>

  <div>

      <mat-form-field class="search">
        <input matInput type="text" (keyup)="doFilter($event)" placeholder="Type the client's name to search">
      </mat-form-field>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef  mat-sort-header> Name </th>
        <td mat-cell *matCellDef="let element" (click)="displayForm('edit',element.id)"> {{element.name}} </td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef  mat-sort-header> Email </th>
        <td mat-cell *matCellDef="let element" (click)="displayForm('edit',element.id)"> {{element.email}} </td>
      </ng-container>

      <ng-container matColumnDef="active">
        <th mat-header-cell *matHeaderCellDef  mat-sort-header> Active </th>
        <td mat-cell *matCellDef="let element" (click)="displayForm('edit',element.id)"> {{element.active ? "active" : "inactive"}} </td>
      </ng-container>

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let element"> 
         <img alt="edit" class="icon-button table" src="./../../assets/icons/draw-edit-new.svg" (click)="displayForm('edit',element.id)"/> &nbsp;
         <img alt="delete" class="icon-button table" src="./../../assets/icons/cancel-close-delete.svg" (click)="delete(element.id)"/>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]"  showFirstLastButtons  aria-label="Select page of clients">
    </mat-paginator>

  </div>



</div>