<div *ngIf="isAdmin">
   <div>
      <h4>THE ARTIST </h4>
    </div>

<div >
  <div class="notification"  *ngIf="submitResult != ''">
    <div class="close" (click)="closeNotification()">x</div>
    {{submitResult}}
 </div>

 <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">
    <div>
      <label>
        Description:

        <editor formControlName="description" apiKey="n29dmmqtea06eshezd2xm4vgr2zk9xyic9chg7z9os19xxzy"
        class="tiny"
        [init]="{
          plugins: [ 'lists link image paste help wordcount' ],
          toolbar: 'undo redo | formatselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | help'
       }"
       ></editor>

      </label>
    </div>
    <div>
       <label>
         Email:
         <input formControlName="email" placeholder="Email" type="text"/>
       </label>
     </div>
    <button type="submit">Save</button> &nbsp;
    <button type="reset">Clear</button>
  </form>
</div>

</div>

 <div *ngIf="!isAdmin" class="artist-info">
     <div [innerHTML]="artistModel.description | safehtml" *ngIf="artistModel.description != undefined"></div>
</div>



