.artist-info
  margin-top: 100px
  width: 100%
  background: #ecd4fc
  border: 1px solid #5e548e
  border-radius: 5px
  padding: 25px
  min-height: 350px
  img
    float: left
    padding: 20px

  .myForm
    button
      background: white
      border: 1px solid #9f86c0
      padding: 15px
      border-radius: 40px
      width: 80px
      color: #9f86c0
      float: right
      margin-left: 20px

    input[type=text], input[type=password]
      padding: 10px
      border: 1px solid #cccccc
      border-radius: 5px!important
      width: 98%!important

@media only screen and (min-width: 801px)
    .mobile
      display: none!important
@media only screen and (max-width: 800px)
  .desktop
    display: none !important
  .artist-info
      background: #ecd4fc
      margin-top: 150px
      width: 80%!important
      border: 1px solid #5e548e
      border-radius: 5px
      padding: 25px
      img
        width: 150px
        padding: 20px
