
/* RESET */
* {
  margin: 0;
  padding: 0;
  border: 0;
}

/* BASIC */
body {
  font: normal 18px/22px "Varela Round", sans-serif;
  color: #2e2e2e;
  background-color: white
}
h1, h2 {
  font-family: "Signika", sans-serif;
  font-weight: 600;
}
h1 {
  font-size: 36px;
  line-height: 46px;
  color: #e0e0e0;
}
h2 {
  font-size: 24px;
  line-height: 33px;
  margin-bottom: -20px;
}
p {
  margin: 20px 0;
}
a:link, a:visited, a:hover, a:active {
  text-decoration: none!important;
}

/* LAYOUT */
.fixed-nav-bar {
  box-shadow: 0px 0px 3px 0px rgba(50, 50, 50, 0.6);
}


.fixed-nav-bar .row{
  width: 70%;
  position: relative;
  display: table;
  table-layout: fixed;
  border-collapse: separate;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fixed-nav-bar .row .cell{
  height: 80px;
  display: table-cell;
  text-align: center;
  position: relative;
  text-align: center;
}

.fixed-nav-bar .row .cell.logo{
    width: 200px;
    height:80px;
    background: url('../img/logo.png');
    background-repeat: no-repeat;
    background-size: 200px 80px;
    padding-left: 5%;
    margin-top: -10px;
}

.content {
  position: relative;
  background: url(59H-from-gratisography.jpg) no-repeat center center fixed;
  background-size: cover;
 }
.description, .page-content {
  width: 100%;
  margin: 0 auto;
  padding-top:30px;
}
.page-content.admin {
  width: 100%;
  /* margin: 0 auto; */
  padding-top:120px;
}
.page-content h1 {
  color: #e7c6ff;
  text-transform: uppercase;
}
.home{
  padding-top:30px;
}
.page-content h2 a:link, .page-content h2 a:visited  {
  color: #464646;
  transition: color 0.1s ease;
}
.page-content h2 a:hover {
  color: #000000;
  transition: color 0.3s ease;
}

.fixed-nav-bar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  width: 100%;
  height: 100px;
  background-color: #5e548e;
}

/* The element at the top of the page right after the fixed navigation bar
   MUST have sufficient top margin or else it will be covered by the bar */
.content {
  margin-top: 20px;
}

/* Example responsive navigation menu  */
.fixed-nav-bar li, .fixed-nav-bar a {
  height: 50px;
  line-height: 50px;
}
.menu {
  width: 100%;
  padding-left: 5%;
}
.menu a, .menu a:visited {
  color: #ffffff;
}
.menu a:hover, .menu a:target,.menu a:active {
  color: #e7c6ff;
}
.active {
  color: #e7c6ff!important;
}

.app-view .menu-items {
  display: inline-block;
  padding-top: 15px;
}

.admin-view .menu-items {
  display: inline-block;
  padding-top: 25px;
  margin-left: -110px;
}

.logo{
  width: 100%;
  margin-top: 20px;
  margin-left:5%;
}

.social{
  width: 100%;
  margin-top: 20px;
  margin-right:100px;
}

/* columns*/
.column {
  float: left;
  width: 33.33%;
}
.column.logo {
  width: 15%;
}
.column.menu {
  width: 50%;
}
.column.social {
  width: 15%;
  padding-top: 15px;
}

.column.logout{
  padding-top: 25px;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

a.logo, a:visited.logo {
  color: #e0e0e0;
}
.menu-items li {
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
}
.menu-items a {
  text-decoration: none;
}
.show, .hide {
  display: none;
  padding-left: 15px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center left;
  color: #dde1e2;
}

.three-columns-grid{
  display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr 7fr 1fr;
}

.three-columns-grid > * {
  padding:1rem;
}

.page-content-footer .footer{
  background-color: #e7c6ff;
  min-height: 318px;
  color: #5e548e;
  width: 100%;
}
.page-content-footer .footer h1{
  color: #5e548e!important;
}

.form_title {
  margin-top: 10px;
}


/****************************** SUBMENU****************************/
.fixed-nav-bar.admin-view.desktop .row{
  height: 40px;
}
.fixed-nav-bar.admin-view.desktop .row.submenu, .fixed-nav-bar.app-view.desktop .row.submenu{
  margin-top: -8px;
  height: 42px;
  width: 100%;
  display: table;
  table-layout: fixed;
  position: relative;
}

.fixed-nav-bar.admin-view.desktop .row.submenu .submenuitems, .fixed-nav-bar.app-view.desktop .row.submenu .submenuitems{
  display: table-cell;
  width: 100%;
  background: #e7c6ff;
  color:#5e548e;
  padding: 10px;
  text-align: center;
}

.fixed-nav-bar.admin-view.desktop .row.submenu .submenuitems span, .fixed-nav-bar.app-view.desktop .row.submenu .submenuitems span{
  padding-left: 20px;
  padding-right: 20px;
  color:#5e548e;
  cursor: pointer;
}

.fixed-nav-bar.admin-view.desktop .row.submenu .submenuitems span:hover, .fixed-nav-bar.app-view.desktop .row.submenu .submenuitems span:hover{
  color:#18113b;
  font-weight: bold;
}



@media only screen and (width > 800px) {
  .mobile {
    display: none;
  }
}

@media only screen and (max-width: 800px) {
  .desktop {
    display: none;
  }

  .desktop .menu-items{
    width: 100%;
    display: inline-block;
    text-align: center;
  }

  .column{
    width: 100%;
    text-align: center;
  }
  .column img{
    padding-top: 15px;
  }

  .row.bg-white{
    background: white;
    width: 100%;
    margin-top: -31px;
  }


  .fixed-nav-bar a{
    line-height: 35px;
  }
  .fixed-nav-bar li{
    line-height: 20px;
    height: 20px;
  }

  .active {
    color: #a8a0cf!important;
    text-decoration: underline!important;
  }
}

@media only screen and (max-width: 220px) {

}
