.contact-form
  padding-top: 60px
  width: 100%
  .three-columns-grid
    display: grid
    grid-auto-rows: 1fr
    grid-template-columns: 25% 40% 30%!important
  .title
    padding-bottom: 20px
  form
    min-height: 300px
    border: 1px solid  #9f86c0
    border-radius: 5px
    padding: 20px
    background-color: #eaeaea
    input, textarea
      width: 98%
      border: 1px solid #cccccc
    textarea
      border-radius: 5px
    button
      padding:15px
      border: 1px solid #9f86c0
      background: white
      color: #9f86c0
      border-radius: 40px
      width: 80px
    button:hover
      background: #e7c6ff
      color: #9f86c0
.buttons
  float: right

@media only screen and (width > 800px)
  .mobile
    display: none

@media only screen and (max-width: 800px)
  .desktop
    display: none
  .contact-form
    padding-top: 150px
    margin-left: -7%
