#portfolio-grid2
    width: 100%
    text-align: center
    margin-top: 70px

#portfolio-grid2 > div
    width: 100%
    display: block
    vertical-align: top
    text-align: left
    margin: 1%

.testimonial
    width:60%
    border: 1px solid #e7c6ff
    padding:20px
    border-radius: 5px
    &.even
      background: #e2def2
    .author
        font-size: 12px
.mat-row:hover
  background: #f0dbff

@media only screen and (max-width: 800px)
  #portfolio-grid2
    margin-top: 150px
    margin-left: -8%
    .author
      padding-top: 10px
      font-size: 18px
      font-weight: bold
      float: right
