<div *ngIf="isAdmin">

  <div>
    <h4>TESTIMONIALS </h4>
    <img class="icon-button right" src="./../../assets/icons/add-create-new.svg"  *ngIf="!display" (click)="displayForm('create', 0)"/>
    <img class="icon-button right" src="./../../assets/icons/close-delete-minus.svg"  *ngIf="display"(click)="displayForm('create', 0)"/>
  </div>

<div *ngIf="display">
{{ isEdit? 'Edit': 'Create '}} Testimonial

<form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)" class="myForm">
  <div>
    <label>
      Author:
      <mat-form-field>
        <input type="text" placeholder="Enter author name" [formControl]="author" matInput [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option.name"
            (onSelectionChange)="onAuthorChange(option)">
            {{option.name}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </label>
  </div>
  <div>
    <label>
      Comment:
      <textarea formControlName="comment" placeholder="Author Comment" rows="5"></textarea>
    </label>
  </div>
  <div>
    <label>
      Display:
      <input formControlName="display" type="checkbox">
    </label>
  </div>

  <button type="submit">Save</button> &nbsp;
  <button type="reset" *ngIf="!isEdit">Clear</button>
  <button type="button" *ngIf="isEdit" (click)="display = false">Cancel</button>
</form>

</div>
<div>

      <mat-form-field class="search">
        <input matInput type="text" (keyup)="doFilter($event)" placeholder="Type the author name to search">
      </mat-form-field>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
      <ng-container matColumnDef="author">
        <th mat-header-cell *matHeaderCellDef  mat-sort-header> Author </th>
        <td mat-cell *matCellDef="let element" (click)="displayForm('edit',element.id)"> {{element.author}} </td>
      </ng-container>

      <ng-container matColumnDef="display">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Display </th>
        <td mat-cell *matCellDef="let element" (click)="displayForm('edit',element.id)"> {{element.display ? 'visible' : 'hidden' }} </td>
      </ng-container>

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element" >
         <img alt="edit" class="icon-button table" src="./../../assets/icons/draw-edit-new.svg" (click)="displayForm('edit',element.id)"/> &nbsp;
         <img alt="delete" class="icon-button table" src="./../../assets/icons/cancel-close-delete.svg" (click)="delete(element.id)"/>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]"  showFirstLastButtons  aria-label="Select page of author comments">
    </mat-paginator>

</div>
</div>

<div *ngIf="!isAdmin">
  <div id="portfolio-grid2">
    <div class="testimonial" *ngFor="let testimonial of testimonialsList; let i = index" [ngClass]="{ even : (i % 2) == 0 }">
          <div>
            " {{testimonial.comment}} "<br><br>
            <div class="author">{{testimonial.author}}, author of
                <a  href="{{testimonial.books[0].link}}" target="_blank" >{{testimonial.books[0].title}}</a>
                <span *ngIf="testimonial.books.length > 1"> and others.</span>
            </div>
          </div>
    </div>
  </div>
</div>
