.site-portfolio
     margin-top: -97px

#portfolio-grid-video
    width: 100%
    text-align: center
    margin-top: 45px

#portfolio-grid-video > div
    width: calc(100%/6)
    display: inline-block
    vertical-align: top
    text-align: center
    margin: 2%
    margin-right: 5%
    height: 215px

.item
    .item-wrap
      &.video
        width: 250px
        height: 140px

.item .item-wrap.video:hover .work-info
  opacity: 1
  visibility: visible
  margin-top: -20%

.item
    .item-wrap:hover:after
        background: #5e548e
        opacity: 0.8
        visibility: visible

.section1
  &.video
    padding: 6rem 0

.grid.video
  display: grid
  grid-template-rows: repeat(1, 1fr)
  grid-template-columns: repeat(2, 1fr)
  grid-gap: 10px

.box
  padding: 10px
  img
    width: 640px

@media only screen and (min-width: 801px)
  .mobile
    display: none

  .desktop
    display: block

@media only screen and (max-width: 800px)
  .desktop
    display: none

  .mobile
    display: block
    width: 100%

  .site-portfolio
    margin-top: 0px

  #site-thumbnail
    width: 80vw

  #portfolio-grid-video > div
    display: block
    img
      width: 80vw

  .item
     .item-wrap
      &.video
        width: 80vw
        height: calc(100vh - 360px)
