
<login-view *ngIf="display.login" (authResult)="authorization($event)"></login-view>

<nav class="fixed-nav-bar"  *ngIf="!display.login">
  <div class="row">
    <div class="column logo">
      <a class="sitename" href="/"><img src="../assets/img/logo.png" /></a>
    </div>
    <div class="column menu">
      <div id="menu" class="menu">
        <ul class="menu-items">
          <li>
            <a
              href="#"
              style="margin-left: 200px"
              (click)="displayView($event, 'home')"
              [ngClass]="{
                active:
                  !display.artworks &&
                  !display.books &&
                  !display.service &&
                  !display.contact &&
                  !display.testimonial
              }"
              >Home</a
            >
          </li>
          <li>
            <a
              href="#"
              (click)="displayView($event, 'artworks')"
              [ngClass]="{ active: display.artworks }"
              >Artworks</a
            >
          </li>
          <li>
            <a
              href="#"
              (click)="displayView($event, 'books')"
              [ngClass]="{ active: display.books }"
              >Books</a
            >
          </li>
          <li>
            <a
              href="#"
              (click)="displayView($event, 'service')"
              [ngClass]="{ active: display.service }"
              >Service</a
            >
          </li>
          <li>
            <a
              href="#"
              (click)="displayView($event, 'testimonial')"
              [ngClass]="{ active: display.testimonial }"
              >Testimonials</a
            >
          </li>
          <li>
            <a
              href="#"
              (click)="displayView($event, 'contact')"
              [ngClass]="{ active: display.contact }"
              >Contact</a
            >
          </li>
          <li>
            <a
              href="#"
              (click)="logout($event)"
              >Logout</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<section class="page-content admin" *ngIf="!display.login">
  <div class="three-columns-grid">
    <div></div>
    <div>
      <div *ngIf="display.home">
        <h3>ADMINISTRATION</h3>
      </div>
      <clients-view *ngIf="display.clients"></clients-view>
      <users-view  *ngIf="display.users"></users-view>
      <artworks-view  *ngIf="display.artworks"></artworks-view>
      <books-view  *ngIf="display.books"></books-view>
      <book-payment-balances-view  *ngIf="display.bookPaymentBalances"></book-payment-balances-view>
      <book-deliverable-view  *ngIf="display.bookDeliverables"></book-deliverable-view>
      <testimonial-view  *ngIf="display.testimonial"></testimonial-view>
      <contact-view  *ngIf="display.contact"></contact-view>
      <service-view  *ngIf="display.service"></service-view>
    </div>
    <div></div>
  </div>
</section>
