
<h3 (click)="displayView($event, 'home')" style="cursor: pointer">ADMINISTRATION</h3>

<nav class="admin-navigation">
    
    <div class="navbar">
        <a href="#" (click)="displayView($event, 'users')" style="margin-left: 120px;">Users</a>
        <a href="#" (click)="displayView($event, 'clients')">Clients</a>
        <a href="#" (click)="displayView($event, 'artworks')">Artworks</a>
        <div class="subnav">
          <button class="subnavbtn">Book Management</button>
          <div class="subnav-content">
            <a href="#" (click)="displayView($event, 'books')">Books</a>
            <a href="#" (click)="displayView($event, 'bookDeliverables')">Book Deliverables</a>
            <a href="#" (click)="displayView($event, 'bookPaymentBalances')">Book Payment Balance</a>
          </div>
        </div> 
        <a href="#" (click)="displayView($event, 'testimonial')">Testimonials</a>
        <a href="#" (click)="displayView($event, 'service')">Service</a>
        <a href="#" (click)="displayView($event, 'contact')">Contact</a>
      </div>

</nav>


<clients-view *ngIf="display.clients"></clients-view>
<users-view  *ngIf="display.users"></users-view>
<artworks-view  *ngIf="display.artworks"></artworks-view>
<books-view  *ngIf="display.books"></books-view>
<book-payment-balances-view  *ngIf="display.bookPaymentBalances"></book-payment-balances-view>
<book-deliverable-view  *ngIf="display.bookDeliverables"></book-deliverable-view>
<testimonial-view  *ngIf="display.testimonial"></testimonial-view>
<contact-view  *ngIf="display.contact"></contact-view>
<service-view  *ngIf="display.service"></service-view>
