<!DOCTYPE html>
<html lang="en-US">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Patricia Braga</title>
</head>

<body class="home page page-template page-template-template-portfolio page-template-template-portfolio-php">
	<div id="page">
		<div class="container">

			<header id="masthead" class="site-header">
				<div class="site-branding">
					<h1 class="site-title"><a href="/" rel="home">Patricia Braga</a></h1>
					<h2 class="site-description">Freelance Professional Illustrator</h2>
				</div>
			</header>

			<div id="content" [ngClass]="{'site-content-admin' : isAdmin, 'site-content' : !isAdmin}">
				<div id="primary" class="content-area column full">
					<main id="main" class="site-main">
						<router-outlet></router-outlet>
					</main>
				</div>
			</div>
		</div>

		<footer id="colophon" class="site-footer">
			<div class="container">
				<div class="site-info">

				</div>
			</div>
		</footer>
		<a href="#top" class="smoothup" title="Back to top"><span class="genericon genericon-collapse"></span></a>
	</div>
	<!-- #page -->
	<script src='./js/jquery.js' type="script"></script>
	<script src='./js/plugins.js' type="script"></script>
	<script src='./js/scripts.js' type="script"></script>
	<script src='./js/masonry.pkgd.min.js' type="script"></script>
</body>

</html>