.icon-button
   height: 20px
   width: 20px
   cursor: pointer
   &.table
      margin-bottom: -5px
   &.right
      float: right
      margin-top: -35px
      width: 30px !important
      height: 30px !important

.icon-img
   height: 20px
   width: 20px

form
  width: 100%
  border: 1px solid #cccccc
  padding: 10px 
  margin-bottom: 10px

input
   margin-bottom:10px
   
input[type="text"]  
   padding:    10px
   border: 1px solid #cccccc
   border-radius: 5px!important
   width: 100%

.search
   width: 98%!important

.file-input
  display: none

.upload-btn
   padding-top: 10px

input[type="file"]
    display: none

.file-upload 
    border: 1px solid #ccc
    display: inline-block
    padding: 6px 12px
    cursor: pointer

button
    border-radius: 5px


// angular material --------

::ng-deep td.mat-cell:last-of-type
   text-align: right!important


::ng-deep .mat-row:hover 
      background-color:#dfdfdf

::ng-deep .mat-form-field
   width: 98%






    