.icon-button
   height: 20px
   width: 20px
   cursor: pointer
   &.table
      margin-bottom: -5px
   &.right
      float: right
      margin-top: -35px
      width: 30px !important
      height: 30px !important

.icon-img
   height: 20px
   width: 20px

form
  width: 100%
  border: 1px solid #cccccc
  padding: 10px 
  margin-bottom: 10px

input
   margin-bottom:10px
   
input[type="text"]  
   padding:    10px
   border: 1px solid #cccccc
   border-radius: 5px!important
   width: 100%


    