<nav class="admin-navigation">
    <div class="menu-menu-1-container">
        <ul id="menu-menu-1" class="menu">
            <li><a href="#" href="/">Home</a></li>
            <li><a href="#"(click)="displayView($event, 'artworks')">Artworks</a></li>
            <li><a href="#" (click)="displayView($event, 'books')">Books</a></li>
            <li><a href="#" (click)="displayView($event, 'service')">Service</a></li>
            <li><a href="#" (click)="displayView($event, 'contact')">Contact</a></li>
        </ul>
    </div>
</nav>

<artworks-view  *ngIf="display.artworks"></artworks-view>
<books-view  *ngIf="display.books"></books-view>
<service-view  *ngIf="display.service"></service-view>