<nav class="admin-navigation">
    <div class="navbar">
        <a href="#" href="/" style="margin-left: 250px;">Home</a>
        <a href="#"(click)="displayView($event, 'artworks')">Artworks</a>
        <a href="#" (click)="displayView($event, 'books')">Books</a>
        <a href="#" (click)="displayView($event, 'service')">Service</a>
        <a href="#" (click)="displayView($event, 'contact')">Contact</a>
      </div>
</nav>


<div *ngIf="!display.artworks && !display.books && !display.service && !display.contact">
HOME
</div>

<artworks-view  *ngIf="display.artworks"></artworks-view>
<books-view  *ngIf="display.books" ></books-view>
<service-view  *ngIf="display.service"></service-view>
<contact-view  *ngIf="display.contact"></contact-view>