<nav class="fixed-nav-bar app-view desktop">
  <div class="row">
    <div class="column logo">
      <a class="sitename" href="/"><img src="../assets/img/logo.png" /></a>
    </div>
    <div class="column menu">
      <div class="three-columns-grid">
          <div></div>
          <div>
            <div id="menu" class="menu">

              <ul class="menu-items">
                <li>
                  <a
                    href="#"
                    (click)="displayView($event, 'home')"
                    [ngClass]="{ active: display.home }"
                    >Home</a
                  >
                </li>
                <li>
                  <a
                    href="#"
                    (click)="displayView($event, 'artworks')"
                    [ngClass]="{ active: display.artworks }"
                    >Artworks</a
                  >
                </li>
                <li>
                  <a
                    href="#"
                    (click)="displayView($event, 'books')"
                    [ngClass]="{ active: display.books }"
                    >Books</a
                  >
                </li>
                <li>
                  <a
                    href="#"
                    (click)="displayView($event, 'service')"
                    [ngClass]="{ active: display.service }"
                    >Service</a
                  >
                </li>
                <li>
                  <a
                    href="#"
                    (click)="displayView($event, 'testimonial')"
                    [ngClass]="{ active: display.testimonial }"
                    >Testimonials</a
                  >
                </li>
                <li>
                  <a
                    href="#"
                    (click)="displayView($event, 'artist')"
                    [ngClass]="{ active: display.artist }"
                    >Artist</a>
                </li>
                <li>
                  <a
                    href="#"
                    (click)="displayView($event, 'formInfo')"
                    [ngClass]="{ active: display.formInfo }"
                    >Contact</a>
                </li>
              </ul>
            </div>
          </div>
          <div></div>
      </div>


    </div>
    <div class="column social">
      <a href="http://www.instagram.com/patriciabraga.art" target="_blank">
        <img src="../assets/icons/instagram.png" width="20" height="20" />
        &nbsp;
      </a>
      <a
        href="http://www.facebook.com/profile.php?id=100095416392578"
        target="_blank"
      >
        <img src="../assets/icons/facebook.png" width="20" height="20" /> &nbsp;
      </a>
      <a href="https://www.behance.net/patriciabraga_art" target="_blank">
        <img src="../assets/icons/behance.png" width="20" height="20" /> &nbsp;
      </a>
    </div>
  </div>
</nav>

<nav class="fixed-nav-bar app-view mobile">
  <div class="row">
    <div class="column">
      <a class="sitename" href="/"><img src="../assets/img/logo.png"  (click)="displayView($event, 'artworks')"/></a>
    </div>
  </div>
  <div class="row">
    <div class="column">
      <ul class="menu-items">
        <li>
          <a
            href="#"
            (click)="displayView($event, 'home')"
            [ngClass]="{ active: display.home }"
            >Home</a
          >
        </li>
        <li>
          <a
            href="#"
            (click)="displayView($event, 'artworks')"
            [ngClass]="{ active: display.artworks }"
            >Artworks</a
          >
        </li>
        <li>
          <a
            href="#"
            (click)="displayView($event, 'books')"
            [ngClass]="{ active: display.books }"
            >Books</a
          >
        </li>
        <li>
          <a
            href="#"
            (click)="displayView($event, 'service')"
            [ngClass]="{ active: display.service }"
            >Service</a
          >
        </li>
        <li>
          <a
            href="#"
            (click)="displayView($event, 'testimonial')"
            [ngClass]="{ active: display.testimonial }"
            >Testimonials</a
          >
        </li>
        <li>
          <a
            href="#"
            (click)="displayView($event, 'artist')"
            [ngClass]="{ active: display.artist }"
            >Artist</a>
        </li>
        <li>
          <a
            href="#"
            (click)="displayView($event, 'formInfo')"
            [ngClass]="{ active: display.formInfo }"
            >Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<section class="page-content">
  <home-view *ngIf="display.home"></home-view>

  <div class="three-columns-grid">
    <div></div>
    <div>
      <artworks-view *ngIf="display.artworks"></artworks-view>
      <books-view *ngIf="display.books"></books-view>
      <service-view *ngIf="display.service"></service-view>
      <testimonial-view *ngIf="display.testimonial"></testimonial-view>
      <artist-view *ngIf="display.artist"></artist-view>
      <form-info-view *ngIf="display.formInfo"></form-info-view>
    </div>
    <div></div>
  </div>
</section>

<section class="page-content-footer">
  <div class="footer">
    <div class="three-columns-grid">
      <div></div>
      <div>
        <h1>Let's get in touch!</h1>
        <p>Let's discuss about your projects and ideas! Reach out to me at:</p>
        <p><h3>patyartworks@gmail.com</h3>
        <p>or</p>
        <div class="contact-button" (click)="displayView($event, 'formInfo')">Click Here</div> to send me a message.
        <p>
          <a href="http://www.instagram.com/patriciabraga.art" target="_blank">
            <img src="../assets/icons/instagram1.png" width="20" height="20" />
            &nbsp;
          </a>
          <a
            href="http://www.facebook.com/profile.php?id=100095416392578"
            target="_blank"
          >
            <img src="../assets/icons/facebook1.png" width="20" height="20" />
            &nbsp;
          </a>
          <a href="https://www.behance.net/patriciabraga_art" target="_blank">
            <img src="../assets/icons/behance1.png" width="20" height="20" />
            &nbsp;
          </a>
        </p>
      </div>
      <div></div>
    </div>
  </div>
</section>
