<div class=" login">
  <div class="three-columns-grid">
    <div></div>
    <div class="forms">
      <div class="notification" *ngIf="submitResult != ''">
        <div class="close" (click)="closeNotification()">x</div>
        {{ submitResult }}
      </div>

      <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">
        <div>
          <div class="three-columns-grid">
            <div></div>
            <div><img src="../../assets/img/logo.png"/></div>
            <div></div>
          </div>
        </div>
        <div>
          <label>
            Login:
            <input formControlName="login" placeholder="login" type="text" />
          </label>
        </div>
        <div>
          <label>
            Password:
            <input formControlName="password" placeholder="password" type="password" />
          </label>
        </div>
        <div class="buttons">
          <button type="submit">Submit</button> &nbsp;
          <button type="reset">Clear</button>
      </div>
      </form>
    </div>
    <div></div>
  </div>
</div>
