.login
  width: 100%
  min-height: 300px
  padding-top: 10%
  .three-columns-grid
    display: grid
    grid-auto-rows: 1fr
    grid-template-columns: 30% 30% 30%!important

.forms
    background-color:#5e548e
    width: 100%
    border-radius: 5px
    .notification
      width: 95%
    form
      width: 95%
      border: 0!important
      label
        color: white
      input, button
        color: #5e548e
      button
        background: white
        padding: 15px
        border-radius: 40px
        width: 80px
        color: #5e548e
      button:hover
            background: #ff9cc6
            color: white
.buttons
  float: right
